<!DOCTYPE html>
<html>
<title>Project</title>
   {% load static %}
	

<!--
<script src="//code.jquery.com/jquery-1.10.2.js"></script>

<script> 
$(function(){
  $("#header").load("header.html"); 
  $("#footer").load("footer.html"); 
});
</script> 
-->
<!--
</head>
-->
{% include "sequencer/header.html" %}    	

<body>
    <div id="wrapper">
		{% include "sequencer/navigation_top.html" %}    	

        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">CNV</h1>
                        
                        <div id="slider"></div>
		<div id="boutton">	<button onclick="grou">mybutton</button> </div>
                        
                        <!--
											start WDDGN
-->
<p>as you see</p>

                         <!-- /.panel-body -->

                        </div>
                        
<!--
END WDGN
-->
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->	
	
		<!--Remaining section-->

    </div>
    <!-- /#wrapper -->
 <!-- DataTables CSS -->
     <script src="{% static "bower_components/jquery/dist/jquery.min.js" %}" ></script>
    <link href="{% static "bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css"  %}" rel="stylesheet">

    <!-- DataTables Responsive CSS -->
    <link href="{% static "bower_components/datatables-responsive/css/dataTables.responsive.css"  %}" rel="stylesheet">
    <link href="https://cdn.datatables.net/select/1.2.0/css/select.dataTables.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" rel="stylesheet">
  
    <!-- DataTables JavaScript -->
     
    <script src= "{% static "bower_components/datatables/media/js/jquery.dataTables.min.js"  %}" type="text/javascript"></script>
    <script src="{% static "bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"  %}" type="text/javascript"></script>
    <script src="{% static "bower_components/datatables-responsive/js/dataTables.responsive.js"  %}" type="text/javascript"></script>
    
    <!-- Custom Theme JavaScript -->
    <script src="{% static "dist/js/sb-admin-2.js"  %}" ></script>

    <!-- Page-Level Demo Scripts - Tables - Use for reference -->

  
    <script>
    $(document).ready(function() {
        $('#dataTables-example').DataTable({
                responsive: true
        });
    });
    
    //~ $(document).ready(function() {
    //~ $('#dataTables-example').DataTable( {
        //~ columnDefs: [ {
            //~ orderable: false,
            //~ className: 'select-checkbox',
            //~ targets:   0
        //~ } ],
        //~ select: {
            //~ style:    'os',
            //~ selector: 'td:first-child'
        //~ },
        //~ order: [[ 1, 'asc' ]]
    //~ } );
//~ } );

//
// Updates "Select all" control in a data table
////
// Updates "Select all" control in a data table
//

    </script>
    
<!--
  sliders  
-->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="http://jqueryui.com/resources/demos/style.css">
<!--
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
-->
  <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>

      <script>
   $( function() {
    $( "#slider" ).slider();
  } );
  </script>

  
{% include "sequencer/footer.html" %}    	
</body>
</html>	

<!--
<head>

<meta http-equiv="refresh" content="0;url=pages/index.html">

<script language="javascript">
    window.location.href = "pages/index.html"
</script>
</head>
<body>
Go to <a href="pages/index.html">/pages/index.html</a>
</body>
</html>
-->

